<div class="transaction-table">
      <div class="transaction-line">
        <span class="transaction-title">Merchant</span>
        <span class="transaction-title">Description</span>
        <span class="transaction-title">Tags</span>
        <span class="transaction-title">Amount</span>
      </div>
      <div *ngFor="let transaction of transactions" class="transaction-line">
        <span class="transaction-column">{{transaction.merchantName}}</span>
        <span class="transaction-column">{{transaction.transactionDt}}</span>
        <span class="transaction-column">
          <span *ngFor="let tag of transaction.tags">
            <span>#{{tag.tagName}} </span>
          </span>
          <button (click)="addTags(transaction)">Add</button>
        </span>
        <span class="transaction-column">{{transaction.transactionAmt | currency}}</span>
      </div>
</div>

