#transaction-view-wrapper{
  display: flex;
  background: mediumslateblue;

  #instructions{
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;

    #card{
      background: whitesmoke;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 25px 50px;
      width: 80%;
      border-radius: 3px;
      box-shadow: 2px 2px 4px black;

      p{
        text-align: justify;

        span{
          font-style: italic;
          // color: lightsalmon;
          font-weight: 700;
        }
      }
    }

  }

  #transactions{
      width: 50vw;
      padding: 50px 0;
      display: flex;
      // justify-content: center;
      flex-direction: column;
      align-items: center;
      min-height: 100vh;

      #user-id-search, #transaction-section{
          margin: 0px 50px;
          width: 500px;
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;

          h1{
            color: whitesmoke;
          }

          #userId{
            border: none;
            border-radius: 2px;
            height: 30px;
            padding: 5px;

            &:focus{
              outline: none;
            }
          }

          .emptyId{
            height: 50px;
            display: flex;
            align-items: center;
          }

          table{
            background-color: whitesmoke;
            border-radius: 2px;

            .transaction{
              font-weight: 300;
              padding: 10px 0
            }
          }

          table,th,td{
            border: 1px solid black;
            border-collapse: collapse;
          }

          th,td{
            padding: 5px 15px;
          }

      }

      #tags, .errorMessage{
          color: lightsalmon;

      }

      #editors{
          margin-top: 60px;
          width: 200px;
          display: flex;
          justify-content: center;
      }

      #confirm{
          cursor: pointer;
      }
  }
}
